appdirs==1.4.3
asgiref==3.2.3
black==19.10b0
Django==3.1.9
django-filter==2.2.0
djangorestframework==3.11.0
numpy==1.18.2
pigpio==1.44
pylint==2.2.2
pytz==2019.3
regex==2020.4.4
scipy==1.4.1
six==1.14.0
skywriter==0.0.7
uWSGI==2.0.18
