<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>
      Details for measurement: {{ measurement?.name | titlecase }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="grid">
      <div class="canvas-wrapper">
        <canvas
          baseChart
          chartType="line"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [colors]="lineChartColors"
          [legend]="true"
        >
        </canvas>
      </div>
      <h3>Name</h3>
      <div>{{ measurement?.name }}</div>
      <div>
        <h3 class="with-icon">Error</h3>
        <mat-icon color="warn" *ngIf="measurement?.error">error</mat-icon>
      </div>
      <div>{{ measurement?.error ? measurement?.error : 'No error' }}</div>
      <div>
        <h3 class="with-icon">Warning</h3>
        <mat-icon *ngIf="measurement?.warning">warning</mat-icon>
      </div>
      <div>
        {{ measurement?.warning ? measurement?.warning : 'No warning' }}
      </div>
      <h3>Date</h3>
      <div>{{ measurement?.created_at | date }}</div>
      <h3>Speed</h3>
      <div>{{ measurement?.steps_per_measurement | speed }}</div>
      <h3>Connections and contact resistance</h3>
      <div>
        <div class="connections-wrapper">
          <div>{{ measurement?.connection_1 + 1 }}</div>
          <div class="center">{{ measurement?.r41 | toprecision }} &#8486;</div>
          <div class="right">{{ measurement?.connection_4 + 1 }}</div>

          <div class="middle">{{ measurement?.r12 | toprecision }} &#8486;</div>
          <div></div>
          <div class="right middle">
            {{ measurement?.r34 | toprecision }} &#8486;
          </div>

          <div class="bottom">{{ measurement?.connection_2 + 1 }}</div>
          <div class="center bottom">
            {{ measurement?.r23 | toprecision }} &#8486;
          </div>
          <div class="bottom right">{{ measurement?.connection_3 + 1 }}</div>
        </div>
      </div>
      <h3>Carrier mobility</h3>
      <div>{{ measurement?.mobility | mobility }} cm^2/(Vs)</div>
      <h3>Sheet Resistance</h3>
      <div>{{ measurement?.sheet_resistance | sheetResistance }} &#8486;</div>
      <h3>Fit curve error RMS</h3>
      <div>{{ fitCurveErrorRms | toprecision }} &#8486;</div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      class="btn btn-success"
      (click)="downloadCsv()"
    >
      Export data to csv
    </button>
    <button
      mat-raised-button
      color="primary"
      class="btn btn-success"
      (click)="download_image()"
    >
      Export graph as PNG
    </button>
  </mat-card-actions>
</mat-card>
